@import "vars";
@import "global";

.header {
}
.header__top {
  background-color: $bg_gray;
  min-height: 100px;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.logo {
  a {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-style: 30px;

    color: $blue;
  }
  span {
    margin-left: 6px;
    color: #000;
  }
}
.header__top-btn {
  margin-left: auto;
  background-color: $blue;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  margin-right: 50px;
  a {
    color: #fff;
    font-size: 14px;
    padding: 13px 18px;
  }
}
.header__user {
  display: flex;
  align-items: center;
  &-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #7c7979;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  &-name {
    color: $black_gray;
    font-weight: 500;
    line-height: 22px;
  }
  span {
    display: block;
    color: $blue;
  }
}

.header__second-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__menu-list {
  li {
    display: inline-block;
    & + li {
      margin-left: 35px;
    }
  }

  a {
    text-transform: uppercase;
    font-size: 15px;
    color: $black_gray;
    font-weight: 500;
  }
}
.header__search-form {
  max-width: 360px;
  position: relative;
  width: 100%;
  input {
    display: block;
    width: 100%;
    border: 1px solid #d9dfe5;
    border-radius: 25px;
    color: #898f96;
    padding: 15px 25px 18px;
    font-size: 15px;
  }
  input::placeholder {
    color: #898f96;
  }
  button {
    position: absolute;
    border-radius: 25px;
    padding: 16px 28px;
    border: none;
    top: 0;
    right: 0;
    background-color: $blue;
    cursor: pointer;
  }
}

.own {
  background-color: #0f35be;
  position: relative;
}
.own__box {
  padding: 180px 0 177px;
  text-align: center;
  color: #fff;
  &-title {
    font-size: 60px;
    margin-bottom: 40px;
    span {
      display: block;
      font-weight: 500;
    }
  }
  &-descr {
    font-size: 20px;
    margin-bottom: 70px;
  }
  &-btn {
    padding: 19px 30px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    &-all {
      margin-right: 30px;
    }
    &:hover {
      transition: all 0.3s;
      background-color: #fff;
      color: $blue;
    }
  }
}
.own__blocks {
  position: relative;
}
.own__block {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  &-one {
    opacity: 0.502;
    width: 1080px;
    height: 95px;
  }
  &-two {
    width: 1100px;
    height: 83px;
    opacity: 0.502;
  }
  &-three {
    width: 1140px;
    height: 70px;
  }
}
.own__form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  margin: 0 auto;
  max-width: 1065px;
  width: 100%;
  input {
    max-width: 615px;
    width: 100%;
    border: 1px solid #ededed;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 20px 28px;
    &::placeholder {
      color: #676767;
    }
  }
  select {
    padding: 18px 33px;
    margin-left: -5px;
    margin-right: 30px;
    border: 1px solid #ededed;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  button {
    max-width: 223px;
    cursor: pointer;
    background-color: $blue;
    padding: 20px 67px;
    color: #fff;
    border: none;
    border-radius: 4px;
  }
}
.features__items {
  display: flex;
  justify-content: space-between;
  margin-top: 230px;
  margin-bottom: 170px;
}
.features__item {
  text-align: center;
  max-width: 30%;
  &-img {
    display: inline-block;
    width: 130px;
    height: 130px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
  }
  &-name {
    color: #000;
    font-size: 24px;
    margin-bottom: 35px;
  }
  &-descr {
    line-height: 30px;
  }
}
.weekely__product {
  background-color: $bg_gray;
  padding-top: 120px;
  padding-bottom: 110px;

  &-slider {
    margin: 0 -15px;
  }
}
.title {
  max-width: 1140px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  color: #000;
  font-size: 30px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 25px;
  margin-bottom: 50px;
}
.product-slider-item {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
  &.slick-slide {
    display: flex;
    padding: 0 15px;
    img {
      display: inline-block;
    }
  }
}
.weekely__product-img.product-img {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.weekely__product-descr.product-descr {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.product-img {
  min-height: 450px;
  width: 555px;
  background-color: #3c6490;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .product-info {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    padding: 15px 30px;
    margin-right: 10px;
    display: none;
  }
  .product-demo {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    color: #fff;
    padding: 15px 30px;
    display: none;
  }

  &:hover {
    transition: all 0.3s;
    background-image: linear-gradient(
      to top right,
      rgb(30, 44, 189),
      rgb(46, 50, 187),
      rgb(62, 55, 185),
      rgb(78, 61, 183),
      rgb(94, 67, 181),
      rgb(110, 73, 179),
      rgb(126, 78, 178),
      rgb(142, 84, 176),
      rgb(158, 90, 174),
      rgb(174, 96, 172),
      rgb(190, 101, 170),
      rgb(206, 107, 168)
    );
    .product-info {
      display: inline-block;
      &:hover {
        transition: all 0.3s;
        background-color: #fff;
        color: $blue;
      }
    }
    .product-demo {
      display: inline-block;
      &:hover {
        transition: all 0.3s;
        background-color: #fff;
        color: $blue;
      }
    }
  }
}

.product-descr {
  padding: 52px 50px 24px 50px;
  max-width: 585px;
  background-color: #fff;
}
.product-name {
  font-size: 24px;
  color: #000;

  margin-bottom: 20px;
}
.product-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
}
.product-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7347c1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.product-author {
  margin-right: 28px;
  font-size: 15px;
  color: #000;
}
.product-description {
  line-height: 30px;
  margin-bottom: 40px;
}
.weekely__product-keywords {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 45px;
  .word {
    margin-right: 10px;
    background-color: #f1f3f6;
    padding: 10px 17px;
    border-radius: 25px;
    color: #868c96;
    font-size: 15px;
  }
}
.product-characteristics {
  padding-top: 22px;
  font-size: 15px;
  border-top: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-price {
  color: #fff;
  background-color: $blue;
  padding: 9px 18px;
  border-radius: 25px;
  margin-right: 45px;
}
.product-like {
  margin-right: 25px;
  position: relative;
  & svg {
    color: #7347c1;
  }
}
.product-basket {
  color: $blue;
  margin-right: auto;
}

.weekely__slider-arrow {
  width: 15px;
  color: #fff;
  position: absolute;
  top: -125px;
  right: 0;
  z-index: 5;
}
.right {
  background-color: brown;
  left: 25px;
}
.left {
  right: 25px;
  background-color: brown;
}
.products {
  padding: 120px 0;
  background-color: #f6f7fb;
  &__btn {
    max-width: 1140px;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    button {
      outline: none;
      padding: 10px 20px;
      background-color: #f1f3f6;
      color: #747b86;
      border: none;
      border-radius: 25px;
      margin-right: 10px;
      font-size: 15px;
      cursor: pointer;
      &:hover {
        background-color: $blue;
        color: #fff;
      }
    }
  }
}

.products__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px 0 55px;
}

.products__item {
  max-width: 360px;
  width: 100%;
  margin-bottom: 30px;
}
.products__item-img {
  min-height: 230px;
  width: 360px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.products__item-descr {
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  padding: 30px 30px 15px;
  max-width: 360px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.products__item-name {
  font-size: 20px;
  margin-bottom: 20px;
}
.products__item-box {
  margin-bottom: 30px;
}
.products__item-author {
  margin-right: 20px;
}
.products__item-description {
  margin-bottom: 30px;
}

.products__item-characteristics {
  padding-top: 15px;
}
.products__item-price {
  background-color: #e6f1fd;
  color: $blue;
  padding: 10px 15px;
  margin-right: 35px;
}
.products__item-like {
  margin-right: 15px;
  position: relative;
  & svg {
    color: #7347c1;
  }
}
.product-basket {
  color: $blue;
  margin-right: auto;
}
.products__btn-new {
  display: flex;
  justify-content: center;
  
  button {
    background-color: $blue;
    border-radius: 25px;
    display: block;
    color: #fff;
    padding: 20px 38px;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
